<!DOCTYPE html>
<html>
<head>
    <title>Post Quote</title>
</head>
<body>
    <h1>Post Quote</h1>
    
    <form action="/add/" method="post">
        <div>
            <label for="quote">Quote:</label>
            <input type="text" id="quote" name="quote" required>
        </div>
        
        <div>
            <label for="author">Author:</label>
            <input type="text" id="author" name="author" required>
        </div>
        
        <div>
            <button type="submit">Post Quote</button>
        </div>
    </form>
</body>
</html>
