<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Office Quotes API</title>
    <style>
        h1,h2,h3{
            font-family: montserrat;
            font-size: larger;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <h1>Office Quotes API</h1>
        <h2>How to use it?</h2>
        <h3>Send a get request at this end point: "https://office-quotes-api.onrender.com/quote/"</h3>
    </div>
</body>
</html>
