<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Successful</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!--
// v0 by Vercel.
// https://v0.dev/t/4O5xW2l44On
-->
    <div class="w-full h-screen bg-white dark:bg-black">
      <section
        class="w-full py-12 md:py-24 lg:py-32"
        style="font-family: Inter"
      >
        <div class="container px-4 md:px-6">
          <div
            class="flex flex-col items-center justify-center space-y-4 text-center"
          >
            <div class="space-y-2">
              <h1
                class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl lg:text-6xl/none text-black dark:text-white"
              >
                Sign up successful!
              </h1>
              <p
                class="mx-auto max-w-[700px] text-gray-500 md:text-xl dark:text-gray-400"
              >
                Please login to your account.
              </p>
            </div>
            <div class="w-full max-w-sm space-y-2">
              <a
                class="inline-flex h-10 items-center justify-center rounded-md bg-gray-900 px-8 text-sm font-medium text-gray-50 shadow transition-colors hover:bg-gray-900/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:pointer-events-none disabled:opacity-50 dark:bg-white dark:text-black dark:hover:bg-slate-200/90 dark:focus-visible:ring-gray-300"
                href="/templates/signin.html"
              >
                Login
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
